# Python Tutorial 1

## Overview

- Python is a general-purpose programming language. 
- **Python is Interpreted**:Â Python is processed at runtime by the interpreter. You do not need to compile your program before executing it. 

- **Python is Interactive**:Â You can actually sit at a Python Shell and interact with the interpreter directly to write your programs.

- **Python is Object-Oriented**:Â Python supports Object-Oriented style a technique of programming that encapsulates code within objects.
- It has a powerful set of built-in data types and easy-to-use control constructs.
- Since Python is an interpreted language, it is most easily reviewed by simply looking at and describing interactive sessions.
- It was created by Guido van Rossum during 1985- 1990. 
- Python source code is available under the GNU General Public License (GPL).
- Python standard library is very portable and cross-platform compatible on UNIX, Windows, and MacOS.
- Python Official Website :Â http://www.python.org/

## Installing Python

If you want to run Python on your own computer, you will need to install it in case is not already installed.

I strongly advise however to download Anaconda (https://www.continuum.io/downloads), a completely free Python distribution, which includes more than 400 of the most popular Python packages some of which we will heavily use in future classes.

Alternatively, you can just download the Python interpreter for Windows from the website https://www.python.org/. Download a 3.X Python version for future compatibility. After downloading the *.msi file, you should run it (double-click on it) and follow the instructions there.

## Running Python

There are several ways in which you can execute Python code in your computer.


- Interactive interpreter: Simply type `python` in your system's shell to enter the Python Interpreter where you can directly write Python code.  The interpreter displays the familiar `>>>` prompt and then evaluates the Python construct that you provide.   ![](./images/interactiveInterpreter.png)


- Script from the command line: Write your python code in a text file with extension `.py` and then run it from the system's shell ![](./images/script.png)


- Integrated development environment (IDE): Write your python code in an IDE such as Spyder or Pycharm ![](./images/ide.png)


- Python notebook: Write your Python code in an interactive notebook where you can mix code snippets with textual explanations and media. You are currently using a Python notebook! ![](./images/pythonNotebook.png)

---

## Basic syntax

### Interactive mode programming

Invoke the Python 3.5 interpreter by typing `python` in the command prompt. 
![](./images/cmd.png)

Type the following text at the Python prompt and press Enter:

In [3]:
print("Hello World!")

Hello World!

### Script mode programming

Create a file named `test.py`. Inside `test.py` and write the previous Python statement.
Save the file and try to run the program as follows:
![](./images/helloWorld.png)

### Integrated development environment (IDE) programming

If you are working on a classroom computer or you installed the Python Anaconda distribution, open the Spyder IDE:

1. Click Windows start button
2. Search for the Spyder IDE program 
3. Open Spyder

Type your previous Hello world program into the editor. Then press the **Run File** button ![](./images/run.png).

### Use a Python notebook

To execute the following code snippet, double-click on it and press `Ctrl+Enter` or `Shift+Enter`. Notice how the output of the computation appears below the code snippet.

In [3]:
print("Hello World!")

Hello World!

From now on, you can use your favorite mode of executing Python code to follow the tutorial.

## Getting Started with Data

Python supports the object-oriented programming paradigm. This means that Python considers data to be the focal point of the problem-solving process. In Python, as well as in any other object-oriented programming language, we define a class to be a description of what the data look like (the state) and what the data can do (the behavior). Classes are analogous to abstract data types because a user of a class only sees the state and behavior of a data item. Data items are called objects in the object-oriented paradigm. An object is an instance of a class.

### Built-in Atomic Data Types

We will begin our review by considering the atomic data types. Python has two main built-in numeric classes that implement the integer and floating point data types. These Python classes are called `int` and `float`. The standard arithmetic operations, +, -, *, /, and \** (exponentiation), can be used with parentheses forcing the order of operations away from normal operator precedence. Other very useful operations are the remainder (modulo) operator, %, and integer division, //. Note that when two integers are divided, the result is a floating point. The integer division operator returns the integer portion of the quotient by truncating any fractional part.

In [4]:
print(2+3*4)
print((2+3)*4)
print(2**10)
print(6/3)
print(7/3)
print(7//3)
print(7%3)
print(3/6)
print(3//6)
print(3%6)
print(2**100)

14
20
1024
2.0
2.3333333333333335
2
1
0.5
0
3
1267650600228229401496703205376

The boolean data type, implemented as the Python `bool` class, will be quite useful for representing truth values. The possible state values for a boolean object are `True` and `False` with the standard boolean operators, `and`, `or`, and `not`.

In [5]:
False or True

True

In [6]:
not (False and True)

True

Boolean data objects are also used as results for comparison operators such as equality (==) and greater than (>). In addition, relational operators and logical operators can be combined together to form complex logical questions. The following Table shows the relational and logical operators with examples shown in the session that follows.

![](./images/operators.png)

In [7]:
print(5==10)
print(10 > 5)
print((5 >= 1) and (5 <= 10))

False
True
True

### Python identifiers

A Python identifier is a name used to identify a variable, function, class, module or other object. An identifier starts with a letter A to Z or a to z or an underscore (_) followed by zero or more letters, underscores and digits (0 to 9).

Python does not allow punctuation characters such as @, $, and % within identifiers. Python is a case sensitive programming language. Thus, `Manpower` and `manpower` are two different identifiers in Python.

Here are the naming conventions for Python identifiers:

- Class names start with an uppercase letter. All other identifiers start with a lowercase letter.

- Starting an identifier with a single leading underscore indicates that the identifier is private.

- Starting an identifier with two leading underscores indicates a strongly private identifier.

- If the identifier also ends with two trailing underscores, the identifier is a language-defined special name.

In [9]:
theSum = 0
theSum = theSum + 1
theSum = True
theSum

True

The assignment statement `theSum = 0` creates a variable called `theSum` and lets it hold the reference to the data object `0` . In general, the right-hand side of the assignment statement is evaluated and a reference to the resulting data object is âassignedâ to the name on the left-hand side. At this point in our example, the type of the variable is integer as that is the type of the data currently being referred to by `theSum`. 

![](./images/v1.png)

If the type of the data changes as shown above with the boolean value True, so does the type of the variable (`theSum` is now of the type boolean). The assignment statement changes the reference being held by the variable. This is a dynamic characteristic of Python. The same variable can refer to many different types of data.

![](./images/v2.png)

### Built-in Collection Data Types

In addition to the numeric and boolean classes, Python has a number of very powerful built-in collection classes. Lists, strings, and tuples are ordered collections that are very similar in general structure but have specific differences that must be understood for them to be used properly. Sets and dictionaries are unordered collections.

### Lists 
A **list** is an ordered collection of zero or more references to Python data objects. Lists are written as comma-delimited values enclosed in square brackets. The empty list is simply `[ ]`. Lists are heterogeneous, meaning that the data objects need not all be from the same class and the collection can be assigned to a variable as below. The following fragment shows a variety of Python data objects in a list.

In [11]:
myList = [1,3,True,6.5]
myList

[1, 3, True, 6.5]

Since lists are considered to be sequentially ordered, they support a number of operations that can be applied to any Python sequence. The following Table reviews these operations:

![](./images/lo.png)

Note that the indices for lists (sequences) start counting with 0. The slice operation, myList[1:3], returns a list of items starting with the item indexed by 1 up to but not including the item indexed by 3.

Sometimes, you will want to initialize a list. This can quickly be accomplished by using repetition. For example,

In [12]:
myList = [1,2,3,4]
A = [myList]*3
print(A)

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

The variable `A` holds a collection of three references to the original list called `myList`. Note that a change to one element of myList shows up in all three occurrences in A.

In [13]:
myList[2]=45
print(A)

[[1, 2, 45, 4], [1, 2, 45, 4], [1, 2, 45, 4]]

Lists support a number of methods that will be used to build data structures. The next Table provides a summary. 

![](./images/lm.png)

In [104]:
myList = [1024, 3, True, 6.5]
myList.append(False)
print(myList)

[1024, 3, True, 6.5, False]

In [105]:
print(max(myList)) 
print(min(myList))

1024
False

In [100]:
myList.insert(2,4.5)
print(myList)
print(myList.pop())
print(myList)
print(myList.pop(1))
print(myList)
myList.pop(2)
print(myList)

[1024, 3, 4.5, True, 6.5, False]
False
[1024, 3, 4.5, True, 6.5]
3
[1024, 4.5, True, 6.5]
[1024, 4.5, 6.5]

In [101]:
myList.sort()
print(myList)
myList.reverse()
print(myList)

[4.5, 6.5, 1024]
[1024, 6.5, 4.5]

In [102]:
print(myList.count(6.5))
print(myList.index(4.5))
myList.remove(6.5)
print(myList)
del myList[0]
print(myList)

1
2
[1024, 4.5]
[4.5]

You can see that some of the methods, such as `pop`, return a value and also modify the list. Others, such as `reverse`, simply modify the list with no return value. `pop` will default to the end of the list but can also remove and return a specific item. The index range starting from 0 is again used for these methods. You should also notice the familiar âdotâ notation for asking an object to invoke a method. `myList.append(False)` can be read as âask the object `myList` to perform its `append` method and send it the value `False`.â Even simple data objects such as integers can invoke methods in this way.

In [19]:
(54).__add__(21)

75

In this fragment we are asking the integer object `54` to execute its `add` method (called `__add__` in Python) and passing it `21` as the value to add. The result is the sum, `75`. Of course, we usually write this as `54+21`.

One common Python function that is often discussed in conjunction with lists is the range function. `range` produces a `range` object that represents a sequence of values. By using the `list` function, it is possible to see the value of the range object as a list.

In [25]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
list(range(3,10,2))

[3, 5, 7, 9]

In [27]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

### Strings

**Strings** are sequential collections of zero or more letters, numbers and other symbols. We call these letters, numbers and other symbols characters. Literal string values are differentiated from identifiers by using quotation marks (either single or double).

In [28]:
myName = "David"
myName[3]

'i'

In [29]:
myName*2

'DavidDavid'

In [30]:
len(myName)

5

Since strings are sequences, all of the sequence operations described above work as you would expect. In addition, strings have a number of methods, some of which are shown in the Table below.

![](./images/sm.png)

Of these, `split` will be very useful for processing data. `split` will take a string and return a list of strings using the split character as a division point. In the example, `v` is the division point. If no division is specified, the split method looks for whitespace characters such as tab, newline and space.

In [32]:
myName.split('v')
['Da', 'id']

['Da', 'id']

In [31]:
myName.find('v')

2

In [33]:
myName.upper()

'DAVID'

In [34]:
myName.center(10)

'  David   '

A major difference between lists and strings is that lists can be modified while strings cannot. This is referred to as **mutability**. Lists are mutable; strings are immutable. For example, you can change an item in a list by using indexing and assignment. With a string that change is not allowed.

In [39]:
myList = [1, 2, 3]
myList

[1, 2, 3]

In [41]:
myList[0]=2**10
myList

[1024, 2, 3]

In [42]:
myName = 'David'
myName[0]='X'

TypeError: 'str' object does not support item assignment

### Tuples
Tuples are very similar to lists in that they are heterogeneous sequences of data. The difference is that a tuple is immutable, like a string. A tuple cannot be changed. Tuples are written as comma-delimited values enclosed in parentheses. As sequences, they can use any operation described above. For example,

In [43]:
myTuple = (2,True,4.96)
myTuple

(2, True, 4.96)

In [44]:
len(myTuple)

3

In [45]:
myTuple[0]

2

In [46]:
myTuple * 3

(2, True, 4.96, 2, True, 4.96, 2, True, 4.96)

In [47]:
myTuple[0:2]

(2, True)

However, if you try to change an item in a tuple, you will get an error. Note that the error message provides location and reason for the problem.

In [48]:
myTuple[1]=False

TypeError: 'tuple' object does not support item assignment

### Sets
A set is an unordered collection of zero or more immutable Python data objects. Sets do not allow duplicates and are written as comma-delimited values enclosed in curly braces. The empty set is represented by `set()`. Sets are heterogeneous, and the collection can be assigned to a variable as below.

In [49]:
mySet = {3,6,"cat",4.5,False}
mySet

{False, 3, 4.5, 6, 'cat'}

Even though sets are not considered to be sequential, they do support a few of the familiar operations presented earlier.

In [51]:
len(mySet)

5

In [52]:
False in mySet

True

In [53]:
"dog" in mySet

False

Sets support a number of methods that should be familiar to those who have worked with them in a mathematics setting. The next Table provides a summary. Examples of their use follow. Note that union, intersection, issubset, and difference all have operators that can be used as well.

![](./images/so.png)

In [54]:
mySet={False, 4.5, 3, 6, 'cat'}
yourSet = {99,3,100}
mySet.union(yourSet)

{False, 3, 4.5, 99, 6, 100, 'cat'}

In [55]:
mySet | yourSet

{False, 3, 4.5, 99, 6, 100, 'cat'}

In [58]:
mySet.intersection(yourSet)

{3}

In [59]:
mySet & yourSet

{3}

In [61]:
mySet.difference(yourSet)

{False, 4.5, 6, 'cat'}

In [63]:
mySet - yourSet

{False, 4.5, 6, 'cat'}

In [64]:
{3,100}.issubset(yourSet)

True

In [65]:
{3,100}<=yourSet

True

In [66]:
mySet.add("house")
mySet

{False, 3, 4.5, 6, 'house', 'cat'}

In [67]:
mySet.remove(4.5)
mySet

{False, 3, 6, 'house', 'cat'}

In [68]:
mySet.pop()

False

In [69]:
mySet

{3, 6, 'house', 'cat'}

In [70]:
mySet.clear()
mySet

set()

### Dictionaries

Our final Python collection is an unordered structure called a **dictionary**. Dictionaries are collections of associated pairs of items where each pair consists of a key and a value. This key-value pair is typically written as key:value. Dictionaries are written as comma-delimited key:value pairs enclosed in curly braces. For example,

In [86]:
capitals = {'New Zealand':'Wellington','Australia':'Canberra'}
capitals

{'Australia': 'Canberra', 'New Zealand': 'Wellington'}

We can manipulate a dictionary by accessing a value via its key or by adding another key-value pair. The syntax for access looks much like a sequence access except that instead of using the index of the item we use the key value. To add a new value is similar.

In [87]:
capitals['Germany']='Berlin'
print(capitals)

{'New Zealand': 'Wellington', 'Australia': 'Canberra', 'Germany': 'Berlin'}

In [88]:
capitals['United States']='Washington DC'
print(len(capitals))

4

In [89]:
for k in capitals:
   print(capitals[k]," is the capital of ", k)

Wellington  is the capital of  New Zealand
Canberra  is the capital of  Australia
Berlin  is the capital of  Germany
Washington DC  is the capital of  United States

Dictionaries have both methods and operators.

In [90]:
capitals.keys()

dict_keys(['New Zealand', 'Australia', 'Germany', 'United States'])

In [91]:
capitals.values()

dict_values(['Wellington', 'Canberra', 'Berlin', 'Washington DC'])

In [92]:
capitals.items()

dict_items([('New Zealand', 'Wellington'), ('Australia', 'Canberra'), ('Germany', 'Berlin'), ('United States', 'Washington DC')])

In [93]:
capitals.get("Germany")

'Berlin'

In [94]:
capitals["Germany"]

'Berlin'

In [95]:
capitals["France"]

KeyError: 'France'

In [96]:
capitals.get("France","No such key exists")

'No such key exists'

In [97]:
capitals["France"]="Paris"
capitals["France"]

'Paris'

---